<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div
    class="benchmarkresults"
    v-if="benchResults == true"
  >
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Benchmark Metrics:</h3>
    <p>{{ message }}</p>
    <div>
      <table>
        <colgroup>
          <col span="1" style="width: 150px;">
          <col span="1" style="width: 200px;">
        </colgroup>
        <tbody>
          <tr>
            <td>Project stage</td>
            <td>
              <el-select
                v-model="projStageCurrent"
                @change="updateBenchmark"
                placeholder="Select project stage">
                <el-option
                  v-for="item in projStages"
                  :key="item"
                  :value="item"
                />
              </el-select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div name="metrics-power">
      <h4>Metrics per power unit</h4>
      <el-table
        :data="convertMetricsList"
        style="width: 100%"
      >
        <el-table-column
          prop="metric"
          label="Metric"
          width="140"
        >
        </el-table-column>
        <el-table-column
          prop="units"
          label="Units"
          width="120"
          align="center"
        >
        </el-table-column>
        <el-table-column
          label="Data from"
          align="center"
        >
          <el-table-column
            prop="project"
            label="Project"
            width="160"
            align="right"
          >
          </el-table-column>
          <el-table-column
            prop="catalog"
            label="Benchmark"
            width="160"
            align="right"
          >
          </el-table-column>
        </el-table-column>
      </el-table>
    </div>
    <br><br><br>
    <div v-if="analysis.complexity !== 'low'" name="cost-over-lcoe">
      <h4>Cost over LCOE</h4>
      <el-table
        :data="convertLCOEList"
        style="width: 100%"
      >
        <el-table-column
          prop="metric"
          label="Metric"
          width="140"
        >
        </el-table-column>
        <el-table-column
          label="Data from"
          align="center"
        >
          <el-table-column
            prop="project"
            label="Project"
            width="160"
            align="right"
          >
          </el-table-column>
          <el-table-column
            prop="catalog"
            label="Benchmark"
            width="160"
            align="right"
          >
          </el-table-column>
        </el-table-column>
      </el-table>
    </div>
    <div v-if="false">
      <Plotly :data="chart.data" :layout="chart.layout" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'
var numeral = require('numeral')

export default {
  name: 'BenchmarkResults',
  components: {
    Plotly
  },
  props: {
    id: { type: Number, default: 0 },
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      tableMetricsPower: {
        capex: {
          metric: 'CapEX',
          units: '€/kW',
          project: '',
          catalog: ''
        },
        opex: {
          metric: 'OpEX',
          units: '€/kW/year',
          project: '',
          catalog: ''
        }
      },
      tableLCOE: {
        device: {
          metric: 'Device',
          units: '%',
          project: '',
          catalog: ''
        },
        grid: {
          metric: 'Grid',
          units: '%',
          project: '',
          catalog: ''
        },
        station: {
          metric: 'Station Keeping',
          units: '%',
          project: '',
          catalog: ''
        },
        install: {
          metric: 'Installation',
          units: '%',
          project: '',
          catalog: ''
        },
        other: {
          metric: 'Other',
          units: '%',
          project: '',
          catalog: ''
        },
        opex: {
          metric: 'OpEX',
          units: '%',
          project: '',
          catalog: ''
        }
      },
      chart: {
        layout: {
          height: 400,
          width: 500
        },
        data: [{
          values: [],
          labels: [],
          type: 'pie'
        }]
      },
      benchResults: false,
      benchmarkCatalog: [],
      benchmarkCurrent: {},
      projStages: [],
      projStageCurrent: '',
      deviceType: '',
      message: ''
    }
  },
  mounted() {
    const results_path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/results`
    const catalog_path = `${process.env.VUE_APP_API_URL}/api/catalog`
    const general_inputs_path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/general`

    axios.get(results_path)
      .then((response) => {
        if (response.status === 400) {
          this.message = response.data
          this.benchResults = false
        } else if (response.status === 200) {
          this.tableMetricsPower.capex.project = response.data['capex_kw']
          this.tableMetricsPower.opex.project = response.data['opex_kw']

          this.tableLCOE.device.project = response.data['bench_device_lcoe'] / 100
          this.tableLCOE.grid.project = response.data['bench_grid_lcoe'] / 100
          this.tableLCOE.station.project = response.data['bench_mooring_lcoe'] / 100
          this.tableLCOE.install.project = response.data['bench_inst_lcoe'] / 100
          this.tableLCOE.other.project = response.data['bench_other_lcoe'] / 100
          this.tableLCOE.opex.project = response.data['bench_opex_lcoe'] / 100

          this.benchResults = true

          this.chart.data = [{
            values: [
              this.tableLCOE.device.project,
              this.tableLCOE.grid.project,
              this.tableLCOE.station.project,
              this.tableLCOE.install.project,
              this.tableLCOE.other.project,
              this.tableLCOE.opex.project
            ],
            labels: [
              'Device',
              'Grid and Electrical',
              'Station Keeping',
              'Installation',
              'Other',
              'OpEX'],
            type: 'pie'
          }]
        }
      })
    axios.get(catalog_path)
      .then((response) => {
        this.benchmarkCatalog = response.data

        // Define a list with all stages
        for (let index = 0; index < this.benchmarkCatalog.length; index++) {
          const element = this.benchmarkCatalog[index]
          this.projStages.push(element.stage)
        }
        this.projStages = [...new Set(this.projStages)]
      })
    axios.get(general_inputs_path)
      .then((response) => {
        this.deviceType = response.data.device_type
      })
  },
  methods: {
    updateBenchmark: function() {
      for (let index = 0; index < this.benchmarkCatalog.length; index++) {
        const element = this.benchmarkCatalog[index]
        var deviceTec = ''
        if (this.deviceType === 'wec') {
          deviceTec = 'wave'
        } else if (this.deviceType === 'tec') {
          deviceTec = 'tidal'
        }
        if (element.technology.toLowerCase().includes(deviceTec) && element.stage === this.projStageCurrent) {
          this.tableMetricsPower.capex.catalog = element.capex
          this.tableMetricsPower.opex.catalog = element.opex_year

          this.tableLCOE.device.catalog = element.break_device / 100
          this.tableLCOE.grid.catalog = element.break_electrical / 100
          this.tableLCOE.station.catalog = element.break_installation / 100
          this.tableLCOE.install.catalog = element.break_station_keeping / 100
          this.tableLCOE.other.catalog = element.break_other / 100
          this.tableLCOE.opex.catalog = element.break_opex / 100

          this.benchmarkCurrent = element
        }
      }
    }
  },
  computed: {
    convertMetricsList() {
      var tableMetricsPowerList = []
      for (const key in this.tableMetricsPower) {
        const metric_item = this.tableMetricsPower[key]
        metric_item.project = numeral(metric_item.project).format('0,0.00')
        if (typeof metric_item.catalog === 'number') {
          metric_item.catalog = numeral(metric_item.catalog).format('0,0.00')
        }
        tableMetricsPowerList.push(metric_item)
      }
      return tableMetricsPowerList
    },
    convertLCOEList() {
      var tableLCOEList = []
      for (const key in this.tableLCOE) {
        const metric_item = this.tableLCOE[key]
        metric_item.project = numeral(metric_item.project).format('0.0 %')
        if (typeof metric_item.catalog === 'number') {
          metric_item.catalog = numeral(metric_item.catalog).format('0.0 %')
        }
        tableLCOEList.push(metric_item)
      }
      return tableLCOEList
    }
  }
}
</script>
