<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="bomresults">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Project Bill of Materials</h3>
    <el-table
      :data="billOfMaterials"
      style="width: 100%"
    >
      <el-table-column
        prop="id"
        label="ID"
        width="180"
      >
      </el-table-column>
      <el-table-column
        prop="name"
        label="Name"
        width="180"
      >
      </el-table-column>
      <el-table-column
        prop="qnt"
        label="Quantity"
        width="100"
      >
      </el-table-column>
      <el-table-column
        prop="uom"
        label="Unit of Measurement"
        width="100"
      >
      </el-table-column>
      <el-table-column
        prop="unit_cost"
        label="Unit Cost"
        width="200"
      >
      </el-table-column>
      <el-table-column
        prop="total_cost"
        label="Total Costs"
        width="220"
        :formatter="formatter"
      >
      </el-table-column>
      <el-table-column
        prop="category"
        label="Category"
        :filters="categoryFilter"
        :filter-method="filterCateg"
        filter-placement="bottom-end">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'BOMResults',
  props: {
    id: { type: Number, default: 0 },
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      billOfMaterials: [],
      categoryFilter: []
    }
  },
  mounted() {
    const results_path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/billofmaterials`

    axios.get(results_path)
      .then((response) => {
        // Convert a dict of list to a list of dict in order to be readible by ei-table
        var newBOM = []
        var newFilterList = []
        var bomLen = response.data['id'].length
        for (let index = 0; index < bomLen; index++) {
          var newEntry = {}
          newEntry['id'] = response.data['id'][index]
          newEntry['name'] = response.data['name'][index]
          newEntry['qnt'] = response.data['qnt'][index]
          newEntry['uom'] = response.data['uom'][index]
          newEntry['unit_cost'] = response.data['unit_cost'][index]
          newEntry['total_cost'] = response.data['total_cost'][index]
          newEntry['category'] = response.data['category'][index]
          newBOM.push(newEntry)

          newFilterList.push(response.data['category'][index])
        }

        this.billOfMaterials = newBOM

        // Remove duplicated values
        const uniqueFilterList = [...new Set(newFilterList)]
        var filtersLen = uniqueFilterList.length
        for (let index = 0; index < filtersLen; index++) {
          this.categoryFilter.push({
            text: uniqueFilterList[index],
            value: uniqueFilterList[index]
          })
        }
      })
  },
  methods: {
    formatter(row, column) {
      return row.total_cost
    },
    filterCateg(value, row) {
      return row.category === value
    }
  }
}
</script>
