<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div
    class="catalogue"
  >
    <el-table
      :data="catalogueData"
      style="width: 100%">
      <el-table-column
        prop="technology"
        label="Technology"
        width="140">
      </el-table-column>
      <el-table-column
        prop="stage"
        label="Stage"
        width="140">
      </el-table-column>
      <el-table-column
        prop="capex"
        label="Capex (€/kW)"
        width="120">
      </el-table-column>
      <el-table-column
        prop="lcoe"
        label="Opex (€/kW/year)"
        width="140">
      </el-table-column>
      <el-table-column
        prop="break_station_keeping"
        label="SK over LCOE (%)"
        width="160">
      </el-table-column>
      <el-table-column
        prop="break_electrical"
        label="Elect. over LCOE (%)"
        width="160">
      </el-table-column>
      <el-table-column
        prop="break_device"
        label="Device over LCOE (%)"
        width="160">
      </el-table-column>
      <el-table-column
        prop="break_installation"
        label="Instal. over LCOE (%)"
        width="160">
      </el-table-column>
      <el-table-column
        prop="break_other"
        label="Other over LCOE (%)"
        width="160">
      </el-table-column>
      <el-table-column
        prop="break_opex"
        label="Opex over LCOE (%)">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      catalogueData: {}
    }
  },
  mounted() {
    const catalog_path = `${process.env.VUE_APP_API_URL}/api/catalog`
    axios.get(catalog_path)
      .then((response) => {
        if (response.status === 200) {
          this.catalogueData = response.data
        }
      })
  }
}
</script>
