<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="economicresults">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Economic Metrics</h3>
    <p>{{ message }}</p>
    <div
       v-if="economicResults == true"
       name="metrics-table"
    >
      <el-table
        :data="values"
        style="width: 100%"
      >
        <el-table-column
          prop="label"
          label="Metric"
          width="140"
        >
        </el-table-column>
        <el-table-column
          prop="units"
          label="Units"
          width="120"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="value"
          label="Value"
          width="120"
          align="right"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
var numeral = require('numeral')

export default {
  name: 'EconomicResults',
  props: {
    id: { type: Number, default: 0 },
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      values: [{
        metric: 'lcoe',
        label: 'LCOE',
        units: '€/kWh',
        value: 0.0
      },
      {
        metric: 'ace',
        label: 'ACE',
        units: 'm/M€',
        value: 0.0
      },
      {
        metric: 'capex_total',
        label: 'Total CAPEX costs',
        units: '€',
        value: 0.0
      },
      {
        metric: 'cost_equipment',
        label: 'Cost of Equipment',
        units: '€',
        value: 0.0
      },
      {
        metric: 'cost_inst',
        label: 'Cost of Installation',
        units: '€',
        value: 0.0
      },
      {
        metric: 'opex_total',
        label: 'Totel OPEX costs',
        units: '€',
        value: 0.0
      },
      {
        metric: 'opex_year',
        label: 'OPEX per year',
        units: '€',
        value: 0.0
      }],
      economicResults: false,
      message: ''
    }
  },
  mounted() {
    const results_path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/results`

    axios.get(results_path)
      .then((response) => {
        if (response.status === 400) {
          this.message = response.data
          this.economicResults = false
        } else if (response.status === 200) {
          // LCOE
          const lcoe_response = response.data['lcoe']
          if (lcoe_response !== null) {
            const lcoe_number = numeral(lcoe_response).format('0,0.000')
            this.values[0].value = lcoe_number
          } else {
            this.values[0].value = null
          }
          // ACE
          const ace_response = response.data['ace']
          if (ace_response !== null) {
            const ace_number = numeral(ace_response).format('0,0.000')
            this.values[1].value = ace_number
          } else {
            this.values[1].value = null
          }
          // CAPEX
          const capex_response = response.data['capex_total']
          const capex_number = numeral(capex_response).format('0,0.00')
          this.values[2].value = capex_number
          // Cost of equipment
          const cost_equip_response = response.data['cost_equip']
          const cost_equip_number = numeral(cost_equip_response).format('0,0.00')
          this.values[3].value = cost_equip_number
          // Cost of installation
          const cost_inst_response = response.data['cost_inst']
          const cost_inst_number = numeral(cost_inst_response).format('0,0.00')
          this.values[4].value = cost_inst_number
          // OPEX
          const opex_total_response = response.data['opex_total']
          const opex_total_number = numeral(opex_total_response).format('0,0.00')
          this.values[5].value = opex_total_number
          // Avg. OPEX per year:
          const opex_year_response = response.data['opex_year']
          const opex_year_number = numeral(opex_year_response).format('0,0.00')
          this.values[6].value = opex_year_number

          this.economicResults = true
        }
      })
  }
}
</script>
