<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="exportstudy">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Study Exported</h3>
    <pre>{{ exported }}</pre>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'FinancialResults',
  props: {
    id: { type: Number, default: 0 },
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      exported: {}
    }
  },
  mounted() {
    const path_export = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/export`
    axios
      .get(path_export)
      .then(res => {
        if (res.status === 200) {
          this.exported = res.data
        }
      })
      .catch(err => {
        this.$message.error(err.response.data.message)
      })
  }
}
</script>
