<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="financialresults">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Financial metrics</h3>
    <p>{{ values.message }}</p>
    <p>{{ message }}</p>
    <div
       v-if="financeResults == true"
       name="metrics-table"
    >
      <el-table
        :data="values"
        style="width: 100%"
      >
        <el-table-column
          prop="label"
          label="Metric"
          width="180"
        >
        </el-table-column>
        <el-table-column
          prop="units"
          label="Units"
          width="120"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="value"
          label="Value"
          width="220"
          align="right"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
var numeral = require('numeral')

export default {
  name: 'FinancialResults',
  props: {
    id: { type: Number, default: 0 },
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      values: [{
        metric: 'pbp',
        label: 'Pay-back Period',
        units: 'years',
        value: 0.0
      },
      {
        metric: 'dpbp',
        label: 'Discounted Pay-back Period',
        units: 'years',
        value: 0.0
      },
      {
        metric: 'irr',
        label: 'Internal Rate of Return',
        units: '%',
        value: 0.0
      },
      {
        metric: 'npv',
        label: 'Net Present Value',
        units: '€',
        value: 0.0
      }],
      financeResults: false,
      proj_years: 0,
      message: ''
    }
  },
  mounted() {
    const results_path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/results`
    const inputs_path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/general`

    axios.get(inputs_path)
      .then((response) => {
        this.proj_years = response.data['project_life']

        axios.get(results_path)
          .then((response) => {
            if (response.status === 400) {
              this.message = response.data
              this.financeResults = false
            } else if (response.status === 200) {
              // Pay-back Period
              const pbp_response = response.data['pay_back_period']
              if (typeof pbp_response === 'number') {
                const pbp_number = numeral(pbp_response).format('0.0')
                this.values[0].value = pbp_number
              } else {
                this.values[0].value = 'No pay-back within ' + this.proj_years + ' years'
                this.values[0].units = 'NA'
              }
              // Discouted Pay-back Period
              const dpbp_response = response.data['disc_pay_back_period']
              if (typeof dpbp_response === 'number') {
                const dpbp_number = numeral(dpbp_response).format('0.0')
                this.values[1].value = dpbp_number
              } else {
                this.values[1].value = 'No pay-back within ' + this.proj_years + ' years'
                this.values[1].units = 'NA'
              }
              // Internal Rate of Return
              const irr_response = response.data['internal_rate_return']
              if (irr_response !== null) {
                const irr_number = numeral(irr_response * 100).format('0.00')
                this.values[2].value = irr_number
              } else {
                this.values[2].value = 'No return ' + this.proj_years + ' years'
                this.values[2].units = 'NA'
              }
              // Net Present Value
              const npv_response = response.data['net_present_value']
              const npv_number = numeral(npv_response).format('0,0.00')
              this.values[3].value = npv_number
              this.financeResults = true
            }
          })
      })
  }
}
</script>
