<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div id="project-main">
    <go-back />
    <br>
    <br>
    <div v-if="analysis.id" class="content">
      <router-view
        :analysis="analysis"
        @project_update="project_update"
        @compute_result="compute_result"
        @update_result="update_result"
        @input_general_add="input_general_add"
        @input_general_update="input_general_update"
        @input_general_delete="input_general_delete"
        @input_financial_add="input_financial_add"
        @input_financial_update="input_financial_update"
        @input_financial_delete="input_financial_delete"
        @input_ace_add="input_ace_add"
        @input_ace_update="input_ace_update"
        @input_ace_delete="input_ace_delete"
        @input_external_add="input_external_add"
        @input_external_delete="input_external_delete"
      />
    </div>
    <div v-else class="content">
      <p>No Analysis with this id</p>
    </div>
  </div>
</template>

<script>

import GoBack from '../GoBack'
import axios from 'axios'
export default {
  name: 'ProjectMain',
  components: { GoBack },
  props: {
    id: { type: Number, default: 0 }
  },
  data() {
    return {
      analysis: {
      }
    }
  },
  mounted() {
    const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}`
    axios.get(path)
      .then((response) => {
        this.analysis = response.data
      })
  },
  methods: {
    project_update(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}`
      axios
        .put(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'list-projects' })
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_general_add(req) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/general`
      axios
        .post(path, req)
        .then(res => {
          if (res.status === 201) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_general_update(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/general`
      axios
        .put(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_general_delete(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/general`
      axios
        .delete(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_financial_add(req) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/financial`
      axios
        .post(path, req)
        .then(res => {
          if (res.status === 201) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_financial_update(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/financial`
      axios
        .put(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_financial_delete(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/financial`
      axios
        .delete(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_ace_add(req) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/ace`
      axios
        .post(path, req)
        .then(res => {
          if (res.status === 201) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_ace_update(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/ace`
      axios
        .put(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_ace_delete(req, e) {
      req = { ...req, ...e }
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/ace`
      axios
        .delete(path, req)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    input_external_add(req) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/external`
      axios
        .post(path, req)
        .then(res => {
          if (res.status === 201) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    // input_external_update(req, e) {
    //   req = { ...req, ...e }
    //   const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/external`
    //   axios
    //     .put(path, req)
    //     .then(
    //       this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
    //     )
    // },
    input_external_delete() {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/inputs/external`
      axios
        .delete(path)
        .then(res => {
          if (res.status === 200) {
            this.$router.push({ name: 'project-open', params: { id: this.analysis.id }})
          }
        })
        .catch((error) => this.$message(error.message))
    },
    compute_result() {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/results`
      axios
        .post(path)
        .then(res => {
          if (res.status === 201) {
            this.$router.push({ name: 'project-results' })
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
    },
    update_result() {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.id}/results`
      axios
        .delete(path)
        .then(res => {
          if (res.status === 200) {
            axios
              .post(path)
              .then(res => {
                if (res.status === 201) {
                  this.$router.push({ name: 'project-results' })
                }
              })
              .catch((error) => this.$message.error(error.response.data.message))
          }
        })
        .catch((error) => this.$message.error(error.response.data.message))
      // axios
      //   .post(path)
      //   .then(res => {
      //     if (res.status === 201) {
      //       this.$router.push({ name: 'project-results' })
      //     }
      //   })
      //   .catch((error) => this.$message.error(error.response.data.message))
    }
  }
}
</script>
