<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="projectcreate">
    <h1>Please Enter Details below to start SLC Project</h1>
    <el-form ref="form" :model="form" label-width="140px">
      <el-form-item label="Title:">
        <el-input
          v-model="project.title"
          placeholder="Please input project title"
        ></el-input>
      </el-form-item>
      <el-form-item label="Descritpion:">
        <el-input
          v-model="project.description"
          placeholder="Please input project description"
        ></el-input>
      </el-form-item>
      <el-form-item label="Complexity:">
        <el-select
          v-model="project.complexity"
          placeholder="Select complexity level"
        >
          <el-option
            v-for="item in complexities"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <br>
    <el-button
      type="primary"
      data-cy="btnProjectSubmit"
      @click="submit"
    >Submit</el-button>
  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'ProjectCreate',
  props: {
    title: { type: String, default: '' },
    description: { type: String, default: '' },
    complexity: { type: String, default: '' }
  },
  data() {
    return {
      project: {
        title: this.title,
        description: this.description,
        complexity: this.complexity
      },
      complexities: [{
        label: '1',
        value: 'low'
      },
      {
        label: '2',
        value: 'med'
      },
      {
        label: '3',
        value: 'high'
      }]
    }
  },
  methods: {
    // maybe redo with axios
    submit() {
      const path = `${process.env.VUE_APP_API_URL}/api/projects`
      axios
        .post(path, this.project)
        .then((res) => {
          if (res.status === 201) {
            this.$router.push({ name: 'list-projects' })
          }
        })
        .catch(() => this.$message.error('problem creating project'))
    }
  }
}
</script>
<style>
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
