<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div id="project-list">
    <div>
      <el-button
        type="primary"
        data-cy="btnNewProject"
        @click="$router.push({ name: 'project-create' })"
      ><i class="el-icon-document-add" /><span>Create new System Lifetime Costs study</span></el-button>
      <br><br><br>
      <h1> Existing Studies</h1>
      <el-table
        :data="analyses"
        style="width: 100%">
        <el-table-column
          fixed
          prop="id"
          label="ID"
          width="50">
        </el-table-column>
        <el-table-column
          prop="title"
          label="Title"
          width="120">
        </el-table-column>
        <el-table-column
          prop="description"
          label="Description"
          width="300">
        </el-table-column>
        <el-table-column
          prop="complexity"
          label="Complexity"
          width="120">
        </el-table-column>
        <el-table-column
          prop="date"
          label="Date"
          width="180">
        </el-table-column>
        <el-table-column
          label="Status"
          width="120">
          <template slot-scope="scope">
            <el-progress
              :text-inside="true"
              :stroke-width="26"
              :percentage="scope.row.status">
            </el-progress>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label="Operations"
          align="center">
          <template slot-scope="scope">
            <el-button
              @click="openProject(scope.row)"
            >Open
            </el-button>
            <el-button
              @click="editProject(scope.row)"
            >Edit
            </el-button>
            <el-button
              @click="deleteProject(scope.row)"
              type="danger"
              title="Delete"
            >Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { project_url } from '../../api'

export default {
  name: 'ProjectSubmenu',
  data() {
    return {
      analyses: []
    }
  },
  created() {
    this.getProjectList()
  },
  methods: {
    openProject(row) {
      this.$router.push({ name: 'project-open', params: { id: row.id }})
    },
    editProject(row) {
      this.$router.push({ name: 'project-update', params: { id: row.id }})
    },
    deleteProject(row) {
      this.$alert(
        "This will permanently remove the '" + row.title + "' project.",
        'Delete project?',
        {
          showCancelButton: true,
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          project_url
            .url(row.id)
            .delete()
            .res()
            .then(() => {
              this.$message({
                type: 'success',
                message: "Successfully deleted '" + row.title + "'"
              })
              const idx = this.analyses.findIndex((x) => x.id === row.id)
              this.analyses.splice(idx, 1)
              this.resetUploadData()
            })
            .catch(() => {
              this.$message({
                type: 'error',
                message: "Failed to delete '" + row.title + "'"
              })
            })
        })
        .catch(() => {})
    },
    resetUploadData() {
      this.formDisabled = false
    },
    getProjectList() {
      project_url
        .get()
        .json()
        .then((data) => {
          const projectsList = data
          // Convert SQL date to JS string
          for (let projIdx = 0; projIdx < projectsList.length; projIdx++) {
            const sqlDateArr = projectsList[projIdx].date.split('-')
            const year = sqlDateArr[0].toString()
            const month = sqlDateArr[1].toString()
            const sqlDateArr2 = sqlDateArr[2].split('T')
            const day = sqlDateArr2[0].toString()
            const sqlDateArr3 = sqlDateArr2[1].split(':')
            const hour = sqlDateArr3[0].toString()
            const minute = sqlDateArr3[1].toString()
            const second = parseInt(sqlDateArr3[2]).toString()
            projectsList[projIdx].date = year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second
          }
          this.analyses = projectsList
        })
    }
  }
}
</script>

<style>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 5px;
}
.project-uploader .el-upload {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  border: 1px dashed #d9d9d9;
  align-items: center;
  justify-content: center;
}
.project-uploader .el-upload:hover {
  border-color: #409eff;
}
.project-uploader .el-upload p {
  margin-left: 15px;
}

.projectFormName {
  display: flex;
  align-items: flex-start;
  max-width: 250px;
  margin: 16px 0;
}
.projectFormName .el-button {
  margin-left: 10px;
}
</style>
