<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div id="project-results">
    <div>
      <table>
        <colgroup>
          <col span="1" style="width: 70%;">
          <col span="1" style="width: 30%;">
        </colgroup>
        <tbody>
          <tr>
            <td>Name of study:</td>
            <td>{{ analysis.title }}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>{{ analysis.description }}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <table>
        <colgroup>
          <col span="1" style="width: 70%;">
          <col span="1" style="width: 30%;">
        </colgroup>
        <tbody>
          <tr>
            <td>Compiled Bill of Materials:</td>
            <td>
              <el-button
                @click="handleViewBOM"
              >
                View
              </el-button>
            </td>
          </tr>
          <tr>
            <td>Economic metrics:</td>
            <td>
              <el-button
                @click="handleViewEconomic"
              >
                View
              </el-button>
            </td>
          </tr>
          <tr v-if="analysis.complexity !== 'low'">
            <td>Financial metrics:</td>
            <td>
              <el-button
                @click="handleViewFinancial"
              >
                View
              </el-button>
            </td>
          </tr>
          <tr>
            <td>Benchmark metrics:</td>
            <td>
              <el-button
                @click="handleViewBenchmark"
              >
                View
              </el-button>
            </td>
          </tr>
          <tr>
            <td>Export Study:</td>
            <td>
              <el-button
                @click="handleExportStudy"
              >
                Export
              </el-button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProjectResults',
  props: {
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  methods: {
    handleViewBOM() {
      this.$router.push({
        name: 'bom-results', params: { id: this.analysis.id }
      })
    },
    handleViewEconomic() {
      this.$router.push({
        name: 'economic-results', params: { id: this.analysis.id }
      })
    },
    handleViewFinancial() {
      this.$router.push({
        name: 'financial-results', params: { id: this.analysis.id }
      })
    },
    handleViewBenchmark() {
      this.$router.push({
        name: 'benchmark-results', params: { id: this.analysis.id }
      })
    },
    handleExportStudy() {
      this.$router.push({
        name: 'export-study', params: { id: this.analysis.id }
      })
    }
  }
}
</script>
