<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div id="project-open">
    <div>
      <table>
        <colgroup>
          <col span="1" style="width: 70%;">
          <col span="1" style="width: 30%;">
        </colgroup>
        <tbody>
          <tr>
            <td>Name of study:</td>
            <td>{{ analysis.title }}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>{{ analysis.description }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <colgroup>
          <col span="1" style="width: 70%;">
          <col span="1" style="width: 30%;">
        </colgroup>
        <tbody>
          <tr>
            <td>External inputs:</td>
            <td>
              <el-button
                v-if="inputs_external === false"
                @click="handleViewExternalInputs"
              >Define</el-button>
              <el-button
                v-else
                type="danger"
                @click="deleteExternalInputs"
              >Delete all</el-button>
            </td>
          </tr>
          <tr>
            <td>General inputs:</td>
            <td>
              <el-button
                v-if="!inputs_general"
                @click="handleViewGeneralInputs"
              >Define</el-button>
              <el-button
                v-else
                type="primary"
                @click="handleViewGeneralInputs"
              >Update</el-button>
            </td>
          </tr>
          <tr v-if="analysis.complexity !== 'low'">
            <td>Financial inputs:</td>
            <td>
              <el-button
                v-if="!inputs_financial"
                @click="handleViewFinancialInputs"
              >Define</el-button>
              <el-button
                v-else
                type="primary"
                @click="handleViewFinancialInputs"
              >Update</el-button>
            </td>
          </tr>
          <tr>
            <td>ACE inputs (optional):</td>
            <td>
              <el-button
                v-if="!inputs_ace"
                @click="handleViewACEInputs"
              >Define</el-button>
              <el-button
                v-else
                type="primary"
                @click="handleViewACEInputs"
              >Update</el-button>
            </td>
          </tr>
          <tr>
          <br>
          </tr>
          <tr>
            <td>
              <el-button
                v-if="analysis.results === null"
                type="primary"
                data-cy="btnComputeResults"
                @click="computeResults"
              >
                Compute SLC Assessment
              </el-button>
              <el-button
                v-else
                type="primary"
                data-cy="btnUpdateResults"
                @click="updateResults"
              >
                Update SLC Assessment
              </el-button>
            </td>
            <td>
              <el-button
                v-if="analysis.results !== null"
                @click="handleViewResults"
              >
                View Results
              </el-button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProjectOpen',
  props: {
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      inputs_external: false,
      inputs_general: false,
      inputs_financial: false,
      inputs_ace: false
    }
  },
  mounted() {
    if (this.analysis.inputs_external !== null) {
      this.inputs_external = true
    }
    if (this.analysis.inputs_general !== null) {
      this.inputs_general = true
    }
    if (this.analysis.inputs_financial !== null) {
      this.inputs_financial = true
    }
    if (this.analysis.inputs_ace !== null) {
      this.inputs_ace = true
    }
  },
  methods: {
    handleViewGeneralInputs() {
      this.$router.push({
        name: 'inputs-general', params: { id: this.analysis.id }
      })
    },
    handleViewFinancialInputs() {
      this.$router.push({
        name: 'inputs-financial', params: { id: this.analysis.id }
      })
    },
    handleViewACEInputs() {
      this.$router.push({
        name: 'inputs-ace', params: { id: this.analysis.id }
      })
    },
    handleViewExternalInputs() {
      this.$router.push({
        name: 'inputs-external', params: { id: this.analysis.id }
      })
    },
    deleteExternalInputs() {
      this.$emit('input_external_delete')
      this.inputs_external = false
    },
    computeResults() {
      this.$emit('compute_result')
    },
    updateResults() {
      this.$emit('update_result')
    },
    handleViewResults() {
      this.$router.push({
        name: 'project-results', params: { id: this.analysis.id }
      })
    }
  }
}
</script>
