<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="projectinfo">
    <h1>Please Enter Details below to start SLC Project</h1>
    <el-form ref="form" :model="form" label-width="140px">
      <el-form-item label="Title:">
        <el-input
          v-model="values.title"
          placeholder="Please input project title"
        ></el-input>
      </el-form-item>
      <el-form-item label="Descritpion:">
        <el-input
          v-model="values.description"
          placeholder="Please input project description"
        ></el-input>
      </el-form-item>
      <el-form-item label="Complexity:">
        <el-select
          v-model="values.complexity"
          placeholder="Select complexity level"
        >
          <el-option
            v-for="item in complexities"
            :key="item.value"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <br>
    <el-button
      data-cy="btnProjectUpdate"
      type="primary"
      @click="send_update"
    >Validate</el-button>
  </div>
</template>

<script>
export default {
  name: 'ProjectInfo',
  props: {
    title: { type: String, default: '' },
    description: { type: String, default: '' },
    complexity: { type: String, default: '' }
  },
  data() {
    return {
      values: {
        title: this.title,
        description: this.description,
        complexity: this.complexity
      },
      complexities: [{
        value: 'low'
      },
      {
        value: 'med'
      },
      {
        value: 'high'
      }]
    }
  },
  methods: {
    send_update() {
      this.$emit('update-entry', this.values)
    }
  }
}
</script>

<style>
</style>
