<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div id="app">
    <div id="content">
      <router-view />
    </div>
    <!-- <router-view v-if="isAuth || !isAuthLibraryReady" />
    <div v-else-if="isAuth === false" id="authModulePlacement" data-cy-slc="authModulePlacement" /> -->
  </div>
</template>

<script>
export default {
  name: 'App',
  routes: []
  // data() {
  //   return {
  //     isAuth: null,
  //     isAuthLibraryReady: false
  //   }
  // },
  // watch: {
  //   isAuth() {
  //     if (
  //       this.isAuth
  //     ) {
  //       return false
  //     }
  //     this.auth()
  //   }
  // },
  // async mounted() {
  //   try {
  //     dtop.eventManager.addEventListener("create", parameters => { //eslint-disable-line
  //       const providers = !parameters.providersIds ? null : JSON.stringify(parameters.providersIds)
  //       this.$router.replace(
  //         `/slc/index?entityAction=create&${providers ? `providersIds=${providers}` : ''}`
  //       )
  //     })
  //     dtop.eventManager.addEventListener("edit", parameters => { //eslint-disable-line
  //       this.$router.replace(`/slc/${parameters.id}`)
  //     })
  //     dtop.eventManager.addEventListener("delete", parameters => { //eslint-disable-line
  //       this.$router.replace(`/slc/index?entityAction=delete&id=${parameters.id}`)
  //     })
  //     dtop.eventManager.emit("ready"); //eslint-disable-line
  //   } catch (e) {
  //     console.log('Integration library is not available')
  //   }

  //   if (
  //     dtop.authManager
  //   ) {
  //     this.isAuthLibraryReady = true
  //   }

  //   try {
  //     this.isAuth = await dtop.authManager.isAuth() //eslint-disable-line
  //     if (
  //       this.isAuth
  //     ) {
  //       return true
  //     }
  //     this.auth()
  //   } catch (e) {
  //     console.log('Auth library is not available')
  //   }
  // },
  // methods: {
  //   async auth() {
  //     this.$nextTick(async() => {
  //       await dtop.authManager.useModule(document.getElementById('authModulePlacement')) //eslint-disable-line
  //       this.isAuth = true
  //     })
  //   }
  // }
}
</script>

<style lang="scss">
  #authModulePlacement{
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }
</style>
