<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="LastSaved">
    <span v-if="datetime"> Saved: {{ datetime.toString() }}</span>
    <span v-else>No Changes have been made since loading</span>
  </div>
</template>

<script>
export default {
  name: 'LastSaved',
  props: {
    datetime: Date
  }
}
</script>

<style>
.LastSaved {
  text-align: center;
  padding: 20px;
}
</style>
