<!DOCTYPE html>
<html>
  <body>
    <pre> <a href="/api/">API documentation</a></pre>
    <h2> System Lifetime Costs Module </h2>
    <pre> <a href="{{ url_for('gui_inputs.complexity') }}">Introduce inputs</a> </pre>
  </body>
</html>
