<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="inputsace">
    <h1>ACE inputs:</h1>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Average Climate Capture Width (m):</td>
          <td><el-input-number
            v-model.number="values.accw"
            :min="0"
            :step="0.1"
            placeholder="Device ACCW"
            controls-position="right"
          ></el-input-number></td>
        </tr>
        <tr>
          <td>Surface Area (m^2):</td>
          <td><el-input-number
            v-model.number="values.surface_area"
            :min="0"
            :step="1"
            placeholder="Surface area"
            controls-position="right"
          ></el-input-number></td>
        </tr>
        <tr>
          <td>Surface Thickness (m):</td>
          <td><el-input-number
            v-model.number="values.surface_thick"
            :min="0"
            :step="0.01"
            placeholder="Surface thickness"
            controls-position="right"
          ></el-input-number></td>
        </tr>
        <tr>
          <td>Density (kg/m^3):</td>
          <td><el-input-number
            v-model.number="values.density"
            :min="0"
            :step="1"
            placeholder="Material density"
            controls-position="right"
          ></el-input-number></td>
        </tr>
        <tr>
          <td>Cost of manufacture (€/kg):</td>
          <td><el-input-number
            v-model.number="values.cost_manufacture"
            :min="0"
            :step="0.1"
            placeholder="Cost of manufacture"
            controls-position="right"
          ></el-input-number></td>
        </tr>
        <br>
      </tbody>
    </table>
    <ul>
      <li>
        <el-button
          v-if="is_new"
            type="primary"
            data-cy="btnFinancialInputsSubmit"
            @click="send_add"
        >Validate</el-button>
        <el-button
          v-else
            type="primary"
            data-cy="btnFinancialInputsUpdate"
            @click="send_update"
        >Update</el-button>&nbsp;
        <el-button
          v-if="!is_new"
            type="danger"
            data-cy="btnInputsFinancialDelete"
            @click="send_delete"
        >Delete</el-button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'InputsACE',
  props: {
    ace_input: { type: Object, default() { return {} } },
    is_new: { type: Boolean, default: false }
  },
  data() {
    return {
      values: {}
    }
  },
  watch: {
    ace_input: function(newVal) {
      this.values = newVal
    }
  },
  methods: {
    send_update() {
      for (var key in this.values) {
        if (this.values[key] === null) {
          delete this.values[key]
        } else if (this.values[key] === '') {
          this.values[key] = 0
        }
      }
      this.$emit('update-entry', this.values)
    },
    send_add() {
      this.$emit('add-entry', this.values)
    },
    send_delete() {
      this.$emit('delete-entry', this.values)
    }
  }
}
</script>

<style>
</style>
