<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="inputsexternalresume">
    <h1>External inputs:</h1>
    <h4>Bills of Materials:</h4>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>ET BoM:</td>
          <td>
            {{ external_input.bom_et }}
          </td>
        </tr>
        <tr>
          <td>ED BoM:</td>
          <td>
            {{ external_input.bom_ed }}
          </td>
        </tr>
        <tr>
          <td>SK BoM:</td>
          <td>
            {{ external_input.bom_sk }}
          </td>
        </tr>
        <tr>
          <td>LMO BoM:</td>
          <td>
            {{ external_input.bom_lmo }}
          </td>
        </tr>
      </tbody>
    </table>
    <h4>Annual Energy Production:</h4>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>AEP:</td>
          <td>
            {{ external_input.aep }}
          </td>
        </tr>
      </tbody>
    </table>
    <h4>Maintenance Solution:</h4>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Maintenance solution:</td>
          <td>
            {{ external_input.main_solution }}
          </td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>
        <el-button
          v-if="is_new"
          type="primary"
          data-cy="btnExternalInputsSubmit"
          @click="send_add"
        >Validate</el-button>
        <el-button
          v-if="!is_new"
          type="danger"
          data-cy="btnInputsExternalDelete"
          @click="send_delete"
        >Delete</el-button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'InputsExternalResume',
  props: {
    external_input: { type: Object, default() { return {} } },
    is_new: { type: Boolean, default: false }
  },
  data() {
    return {
      values: {}
    }
  },
  watch: {
    external_input: function(newVal) {
      this.values = newVal
    }
  },
  methods: {
    send_delete() {
      this.$emit('delete-entry', this.values)
    }
  }
}
</script>

<style>
</style>
