<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="aceinputscreate">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <InputsACE
      v-if="is_new"
        :is_new="true"
        :ace_input="ace_input"
        @add-entry="add" />
    <InputsACE
      v-else
        :is_new="false"
        :ace_input="ace_input"
        @update-entry="update(ace_input, $event)"
        @delete-entry="del(ace_input, $event)" />
  </div>
</template>

<script>

import axios from 'axios'
import InputsACE from './InputsACE'

export default {
  name: 'InputsACECreate',
  components: { InputsACE },
  props: {
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      ace_input: {},
      is_new: this.analysis.inputs_ace === null
    }
  },
  mounted() {
    if (!this.is_new) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/inputs/ace`
      axios.get(path)
        .then((response) => {
          this.ace_input = response.data
          delete this.ace_input['slc_project'] // removing because of problem in update if not
          delete this.ace_input['project_id']
          delete this.ace_input['id']
        })
    } else {
      this.ace_input = {}
    }
  },
  methods: {
    add(inputs_ace) {
      this.$emit('input_ace_add', inputs_ace)
    },
    update(inputs_ace, e) {
      this.$emit('input_ace_update', inputs_ace, e)
    },
    del(inputs_ace, e) {
      inputs_ace = { ...inputs_ace, ...e }
      this.$emit('input_ace_delete', inputs_ace)
    }
  }
}
</script>
