<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="externalinputscreate">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <InputsExternal
      :analysis="analysis"
      :is_new="is_new"
      :external_input="external_input"
      @add-entry="add"
      @delete-entry="del"
    />
  </div>
</template>

<script>

import axios from 'axios'
import InputsExternal from './InputsExternal'

export default {
  name: 'InputsExternalCreate',
  components: { InputsExternal },
  props: {
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      external_input: {},
      is_new: this.analysis.inputs_external === null
    }
  },
  mounted() {
    if (!this.is_new) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/inputs/external`
      axios.get(path)
        .then((response) => {
          this.external_input = response.data
          delete this.external_input['slc_project'] // removing because of problem in update if not
          delete this.external_input['project_id']
          delete this.external_input['id']
        })
    } else {
      this.external_input = {}
    }
  },
  methods: {
    add(inputs_external) {
      this.$emit('input_external_add', inputs_external)
    },
    // update(inputs_external, e) {
    //   this.$emit('input_external_update', inputs_external, e)
    // },
    del(inputs_external, e) {
      this.$emit('input_external_delete')
    }
  }
}
</script>
