<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="generalinputscreate">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <InputsGeneral
      v-if="is_new"
      :is_new="true"
      :general_input="general_input"
      :projCPX="analysis.complexity"
      @add-entry="add" />
    <InputsGeneral
      v-else
      :is_new="false"
      :general_input="general_input"
      :projCPX="analysis.complexity"
      @update-entry="update(general_input, $event)"
      @delete-entry="del(general_input, $event)" />
  </div>
</template>

<script>

import axios from 'axios'
import InputsGeneral from './InputsGeneral'

export default {
  name: 'InputsGeneralCreate',
  components: { InputsGeneral },
  props: {
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      general_input: {},
      is_new: this.analysis.inputs_general === null
    }
  },
  mounted() {
    if (!this.is_new) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/inputs/general`
      axios.get(path)
        .then((response) => {
          this.general_input = response.data
          delete this.general_input['slc_project'] // removing because of problem in update if not
          delete this.general_input['project_id']
          delete this.general_input['id']
        })
    } else {
      this.general_input = {
        device_topology: null,
        device_power: null,
        device_costs: null,
        device_number: null
      }
      const path_ext = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/inputs/external`
      console.log(path_ext)
      axios.get(path_ext)
        .then((res) => {
          if (res.status === 200) {
            if (res.data.mc_general.floating === true) {
              this.general_input['device_topology'] = 'floating'
            } else if (res.data.mc_general.floating === false) {
              this.general_input['device_topology'] = 'fixed'
            }
            if (res.data.et_power !== null) {
              this.general_input['device_power'] = res.data.et_power[0]['Dev_rated_power']['value']
            }
            if (res.data.mc_general.machine_cost !== null) {
              this.general_input['device_costs'] = res.data.mc_general.machine_cost
            }
            if (res.data.number_devices !== null) {
              this.general_input['device_number'] = res.data.number_devices
            }
          }
        })
    }
  },
  methods: {
    add(inputs_general) {
      this.$emit('input_general_add', inputs_general)
    },
    update(inputs_general, e) {
      this.$emit('input_general_update', inputs_general, e)
    },
    del(inputs_general, e) {
      inputs_general = { ...inputs_general, ...e }
      this.$emit('input_general_delete', inputs_general)
    }
  }
}
</script>
