<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="inputsgeneral">
    <h1>General inputs:</h1>
    <h4>Device</h4>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Device type:</td>
          <td><el-select v-model="values.device_type" placeholder="Select">
            <el-option
              v-for="item in device_types"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select></td>
        </tr>
        <tr>
          <td>Device topology:</td>
          <td><el-select v-model="values.device_topology" placeholder="Select">
            <el-option
              v-for="item in device_topologies"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select></td>
        </tr>
        <tr>
          <td>Device Rated Power (kW):</td>
          <td><el-input
            v-model.number="values.device_power"
            type="number"
            placeholder="Please input the device power"
          /></td>
        </tr>
        <tr>
          <td>Device Unit Structural Costs (€):</td>
          <td><el-input
            v-model.number="values.device_costs"
            type="number"
            placeholder="Please input the device costs"
          /></td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Project Lifetime (years):</td>
          <td><el-input
            v-model.number="values.project_life"
            type="number"
            placeholder="Please input the project lifetime"
            min="0"
          /></td>
        </tr>
        <tr v-if="projCPX !== 'low'">
          <td>Discout Rate (%):</td>
          <td v-if="projCPX == 'med'"><el-input
            v-model.number="values.discount_rate"
            type="number"
            value="10"
            step="0.01"
          /></td>
          <td v-else><el-input
            v-model.number="values.discount_rate"
            type="number"
            placeholder="Please input the discount rate"
            step="0.01"
          /></td>

        </tr>
        <tr>
          <td>Number of Devices:</td>
          <td><el-input
            v-model.number="values.device_number"
            type="number"
            placeholder="Please input the number of devices"
            min="0"
          /></td>
        </tr>
        <tr>
          <td>Development and Other CapEX costs (€):</td>
          <td><el-input
            v-model.number="values.other_costs"
            type="number"
            placeholder="Please input other costs"
          /></td>
        </tr>
        <br>
      </tbody>
    </table>
    <ul>
      <li>
        <el-button
          v-if="is_new"
          type="primary"
          data-cy="btnGeneralInputsSubmit"
          @click="send_add"
        >Validate</el-button>
        <el-button
          v-else
          type="primary"
          data-cy="btnGeneralInputsUpdate"
          @click="send_update"
        >Update</el-button>&nbsp;
        <el-button
          v-if="!is_new"
          type="danger"
          data-cy="btnInputsGeneralDelete"
          @click="send_delete"
        >Delete</el-button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'InputsGeneral',
  props: {
    general_input: { type: Object, default() { return {} } },
    is_new: { type: Boolean, default: false },
    projCPX: { type: String, default: '' }
  },
  data() {
    return {
      values: {},
      device_types: [{
        value: 'wec',
        label: 'Wave Energy Converter'
      },
      {
        value: 'tec',
        label: 'Tidal Energy Converter'
      }],
      device_topologies: [{
        value: 'fixed',
        label: 'Fixed'
      },
      {
        value: 'floating',
        label: 'Floating'
      }]
    }
  },
  watch: {
    general_input: function(newVal) {
      this.values = newVal
    }
  },
  methods: {
    send_update() {
      for (var key in this.values) {
        if (this.values[key] === null) {
          delete this.values[key]
        } else if (this.values[key] === '') {
          this.values[key] = 0
        }
      }
      this.$emit('update-entry', this.values)
    },
    send_add() {
      this.$emit('add-entry', this.values)
    },
    send_delete() {
      this.$emit('delete-entry', this.values)
    }
  }
}
</script>

<style>
</style>
