<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>

  <div class="financialinputscreate">
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Name of study:</td>
          <td>{{ analysis.title }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ analysis.description }}</td>
        </tr>
      </tbody>
    </table>
    <InputsFinancial
      v-if="is_new"
        :is_new="true"
        :financial_input="financial_input"
        @add-entry="add" />
    <InputsFinancial
      v-else
        :is_new="false"
        :financial_input="financial_input"
        @update-entry="update(financial_input, $event)"
        @delete-entry="del(financial_input, $event)" />
  </div>
</template>

<script>

import axios from 'axios'
import InputsFinancial from './InputsFinancial'

export default {
  name: 'InputsFinancialCreate',
  components: { InputsFinancial },
  props: {
    analysis: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      financial_input: {},
      is_new: this.analysis.inputs_financial === null
    }
  },
  mounted() {
    if (!this.is_new) {
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/inputs/financial`
      axios.get(path)
        .then((response) => {
          this.financial_input = response.data
          delete this.financial_input['slc_project'] // removing because of problem in update if not
          delete this.financial_input['project_id']
          delete this.financial_input['id']
        })
    } else {
      this.financial_input = {}
    }
  },
  methods: {
    add(inputs_financial) {
      this.$emit('input_financial_add', inputs_financial)
    },
    update(inputs_financial, e) {
      this.$emit('input_financial_update', inputs_financial, e)
    },
    del(inputs_financial, e) {
      inputs_financial = { ...inputs_financial, ...e }
      this.$emit('input_financial_delete', inputs_financial)
    }
  }
}
</script>
