<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="inputsfinancial">
    <h1>Financial inputs:</h1>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Electricity market price (€/kWh):</td>
          <td><el-input-number
            v-model.number="values.energy_price"
            :step="0.01"
            placeholder="Energy price"
          ></el-input-number></td>
        </tr>
      </tbody>
    </table>
    <br>
    <h4>Financing strategy (optional):</h4>
    <table>
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Grant value (€):</td>
          <td><el-input-number
            v-model.number="values.financial_grant"
            :step="1000"
            placeholder="Grant amount"
          ></el-input-number></td>
        </tr>
        <tr>
          <td>FIT price (€/kWh):</td>
          <td><el-input-number
            v-model.number="values.fit_price"
            :step="0.1"
            placeholder="FIT price"
          ></el-input-number></td>
        </tr>
        <tr>
          <td>Years of FIT:</td>
          <td><el-input-number
            v-model.number="values.fit_years"
            :step="1"
            placeholder="Number of years of FIT"
          ></el-input-number></td>
        </tr>
        <br>
      </tbody>
    </table>
    <ul>
      <li>
        <el-button
          v-if="is_new"
            type="primary"
            data-cy="btnFinancialInputsSubmit"
            @click="send_add"
        >Validate</el-button>
        <el-button
          v-else
            type="primary"
            data-cy="btnFinancialInputsUpdate"
            @click="send_update"
        >Update</el-button>&nbsp;
        <el-button
          v-if="!is_new"
            type="danger"
            data-cy="btnInputsFinancialDelete"
            @click="send_delete"
        >Delete</el-button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'InputsFinancial',
  props: {
    financial_input: { type: Object, default() { return {} } },
    is_new: { type: Boolean, default: false }
  },
  data() {
    return {
      values: {
        energy_price: 0.00
      }
    }
  },
  watch: {
    financial_input: function(newVal) {
      this.values = newVal
    }
  },
  methods: {
    send_update() {
      for (var key in this.values) {
        if (this.values[key] === null) {
          delete this.values[key]
        } else if (this.values[key] === '') {
          this.values[key] = 0
        }
      }
      this.$emit('update-entry', this.values)
    },
    send_add() {
      this.$emit('add-entry', this.values)
    },
    send_delete() {
      this.$emit('delete-entry', this.values)
    }
  }
}
</script>

<style>
</style>
