<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="inputs-external">
    <h1>External inputs:</h1>
    <h4>Bills of Materials:</h4>
    <el-form
      ref="inputs-external-bom"
      label-width="160px"
      label-position="left"
    >
      <el-form-item label="ET BoM:">
        <div v-if="!considered.bom_et">
          <el-button
            v-if="!standalone_transformation && !incomplete_transformation"
            size="small"
            type="primary"
            @click="fetchBOMTransformation()"
            :loading="loadingBomET"
          >
            Fetch BoM from ET
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'ET BoM'"
            @file-updated="addExternalInput('bom_et', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('bom_et')"
        >
          Delete ET BoM
        </el-button>
      </el-form-item>
      <el-form-item label="ED BoM:">
        <div v-if="!considered.bom_ed">
          <el-button
            v-if="!standalone_delivery && !incomplete_delivery"
            size="small"
            type="primary"
            @click="fetchBOMDelivery()"
            :loading="loadingBomED"
          >
            Fetch BoM from ED
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'ED BoM'"
            @file-updated="addExternalInput('bom_ed', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('bom_ed')"
        >
          Delete ED BoM
        </el-button>
      </el-form-item>
      <el-form-item label="SK BoM:">
        <div v-if="!considered.bom_sk">
          <el-button
            v-if="!standalone_station && !incomplete_station"
            size="small"
            type="primary"
            @click="fetchBOMStation()"
            :loading="loadingBomSK"
          >
            Fetch BoM from SK
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'SK BoM'"
            @file-updated="addExternalInput('bom_sk', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('bom_sk')"
        >
          Delete SK BoM
        </el-button>
      </el-form-item>
      <el-form-item label="LMO BoM:">
        <div v-if="!considered.bom_lmo">
          <el-button
            v-if="!standalone_logistics && !incomplete_logistics"
            size="small"
            type="primary"
            @click="fetchBOMLogistics()"
            :loading="loadingBomLMO"
          >
            Fetch BoM from LMO
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'LMO BoM'"
            @file-updated="addExternalInput('bom_lmo', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('bom_lmo')"
        >
          Delete LMO BoM
        </el-button>
      </el-form-item>
    </el-form>
    <br>
    <h4>Other external data:</h4>
    <el-form
      ref="inputs-external-other"
      label-width="220px"
      label-position="left"
    >
      <el-form-item label="LMO - Maintenance Solution:">
        <div v-if="!considered.main_solution">
          <el-button
            v-if="!standalone_logistics && !incomplete_logistics"
            size="small"
            type="primary"
            @click="fetchMaintSolu()"
            :loading="loadingMaintSolu"
          >
            Fetch Maint. Solution from LMO
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'Maintenance Solution'"
            @file-updated="addExternalInput('main_solution', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('main_solution')"
        >
          Delete Maintenance Solution
        </el-button>
      </el-form-item>
      <el-form-item label="SPEY - AEP:">
        <div v-if="!considered.aep">
          <el-button
            v-if="!standalone_spey && !incomplete_spey"
            size="small"
            type="primary"
            @click="fetchAEP()"
            :loading="loadingSPEY"
          >
            Fetch AEP from SPEY
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'AEP'"
            @file-updated="addExternalInput('aep', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('aep')"
        >
          Delete AEP
        </el-button>
      </el-form-item>
    </el-form>
    <br>
    <h4>Other external data (optional):</h4>
    <el-form
      ref="inputs-external-other-optional"
      label-width="220px"
      label-position="left"
    >
      <el-form-item label="MC - Machine data:">
        <div v-if="!considered.mc_general">
          <el-button
            v-if="!standalone_machine && !incomplete_machine"
            size="small"
            type="primary"
            @click="fetchMCGeneral()"
            :loading="loadingMC"
          >
            Fetch Data from MC
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'Machine Data'"
            @file-updated="addExternalInput('mc_general', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('mc_general')"
        >
          Delete Machine Data
        </el-button>
      </el-form-item>
      <el-form-item label="EC - Number of devices:">
        <div v-if="!considered.ec_devices">
          <el-button
            v-if="!standalone_capture && !incomplete_capture"
            size="small"
            type="primary"
            @click="fetchECDevices()"
            :loading="loadingEC"
          >
            Fetch Data from EC
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'Number of Devices'"
            @file-updated="addExternalInput('ec_devices', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('ec_devices')"
        >
          Delete Number of Devices
        </el-button>
      </el-form-item>
      <el-form-item label="ET - Rated Power:">
        <div v-if="!considered.et_power">
          <el-button
            v-if="!standalone_transformation && !incomplete_transformation"
            size="small"
            type="primary"
            @click="fetchETPower()"
            :loading="loadingET"
          >
            Fetch Data from ET
          </el-button>
          <UploadJSONFileSimple
            v-else
            :moduleName="'Rated Power'"
            @file-updated="addExternalInput('et_power', $event)"
          />
        </div>
        <el-button
          v-else
          size="small"
          type="danger"
          @click="clearExternalInput('et_power')"
        >
          Delete Rated Power
        </el-button>
      </el-form-item>
    </el-form>
    <ul>
      <li>
        <el-button
          v-if="is_new"
          type="primary"
          data-cy="btnExternalInputsSubmit"
          @click="send_add"
        >Submit</el-button>
        <div
          v-else
        >
          <el-button
            type="primary"
            data-cy="btnInputsExternalUpdate"
            @click="send_update"
          >
            Update
          </el-button>
          <el-button
            type="danger"
            data-cy="btnInputsExternalDelete"
            @click="send_delete"
          >
            Delete all
          </el-button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>

import axios from 'axios'
import UploadJSONFileSimple from './UploadJSONFileSimple'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from '@/dtop/dtopConsts'

export default {
  name: 'InputsExternal',
  components: { UploadJSONFileSimple },
  props: {
    analysis: { type: Object, default() { return {} } },
    external_input: { type: Object, default() { return {} } },
    is_new: { type: Boolean, default: false }
  },
  data() {
    return {
      values: {},
      considered: {
        bom_et: false,
        bom_ed: false,
        bom_sk: false,
        bom_lmo: false,
        mc_general: false,
        ec_devices: false,
        et_power: false,
        aep: false,
        main_solution: false
      },
      project: [],
      standalone_machine: true,
      standalone_capture: true,
      standalone_transformation: true,
      standalone_delivery: true,
      standalone_station: true,
      standalone_logistics: true,
      standalone_spey: true,
      incomplete_machine: false,
      incomplete_capture: false,
      incomplete_transformation: false,
      incomplete_delivery: false,
      incomplete_station: false,
      incomplete_logistics: false,
      incomplete_spey: false,
      loadingMC: false,
      loadingEC: false,
      loadingBomET: false,
      loadingET: false,
      loadingBomED: false,
      loadingBomSK: false,
      loadingBomLMO: false,
      loadingMaintSolu: false,
      loadingSPEY: false
    }
  },
  watch: {
    external_input: function(newVal) {
      this.values = newVal
    }
  },
  created() {
    console.log(this.analysis.id)
    this.get_integration_data(this.analysis.id)
  },
  mounted() {
    this.values = this.external_input
    for (var key in this.values) {
      if (Object.keys(this.values[key]).length === 0) {
        this.considered[key] = false
      } else if (this.values[key] === null) {
        this.considered[key] = false
      } else {
        this.considered[key] = true
      }
    }
  },
  methods: {
    addExternalInput(module, input_object) {
      if (module === 'bom_et') {
        this.values.bom_et = input_object
        this.considered.bom_et = true
      } else if (module === 'bom_ed') {
        this.values.bom_ed = input_object
        this.considered.bom_ed = true
      } else if (module === 'bom_sk') {
        this.values.bom_sk = input_object
        this.considered.bom_sk = true
      } else if (module === 'bom_lmo') {
        this.values.bom_lmo = input_object
        this.considered.bom_lmo = true
      } else if (module === 'mc_general') {
        this.values.mc_general = input_object
        this.considered.mc_general = true
      } else if (module === 'ec_devices') {
        this.values.ec_devices = input_object
        this.considered.ec_devices = true
      } else if (module === 'et_power') {
        this.values.et_power = input_object
        this.considered.et_power = true
      } else if (module === 'aep') {
        this.values.aep = input_object
        this.considered.aep = true
      } else if (module === 'main_solution') {
        this.values.main_solution = input_object
        this.considered.main_solution = true
      }
    },
    clearExternalInput(module) {
      if (module === 'bom_et') {
        delete this.values['bom_et']
        this.considered.bom_et = false
      } else if (module === 'bom_ed') {
        delete this.values['bom_ed']
        this.considered.bom_ed = false
      } else if (module === 'bom_sk') {
        delete this.values['bom_sk']
        this.considered.bom_sk = false
      } else if (module === 'bom_lmo') {
        delete this.values['bom_lmo']
        this.considered.bom_lmo = false
      } else if (module === 'mc_general') {
        delete this.values['mc_general']
        this.considered.mc_general = false
      } else if (module === 'ec_devices') {
        delete this.values['ec_devices']
        this.considered.ec_devices = false
      } else if (module === 'et_power') {
        delete this.values['et_power']
        this.considered.et_power = false
      } else if (module === 'aep') {
        delete this.values['aep']
        this.considered.aep = false
      } else if (module === 'main_solution') {
        delete this.values['main_solution']
        this.considered.main_solution = false
      }
    },
    send_update() {
      this.$emit('update-entry', this.values)
    },
    send_add() {
      this.$emit('add-entry', this.values)
    },
    send_delete() {
      this.$emit('delete-entry')
    },
    get_integration_data(slcId) {
      // "http://0.0.0.0/mm.dtop/api/integration/modules/slc/entities/1"
      const path = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/slc/entities/${slcId}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.project = res.data
          console.log(this.project)
          if (this.project.length === 0) {
            this.$notify.error({
              title: 'Info',
              message: 'Connection established with the Main Module, but this SLC entity is not registered.'
            })
          } else {
            console.log('project data : ', this.project)
            this.$notify.info({
              title: 'Info',
              message: 'Connection established with the Main Module.'
            })
            this.get_machineEntity()
            this.get_captureEntity()
            this.get_transformationEntity()
            this.get_deliveryEntity()
            this.get_stationEntity()
            this.get_logisticsEntity()
            this.get_speyEntity()
          }
        })
        .catch((error) => {
          console.log(error)
          this.project = []
          this.$notify.error({
            showClose: true,
            duration: 3000,
            title: 'Connection Error',
            message: 'Cannot establish a connection with the Main Module. SLC can be used only as a standalone.'
          })
        })
    },
    get_machineEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const machine_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 2 })
        this.mcId = machine_entity[0].entityId
        this.get_machineStatus(this.mcId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_machine = true
        this.$notify.warning({
          title: 'MC warning',
          message: 'No MC entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_machineStatus(machineId) {
      const path = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/${machineId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/#/mc-entity?entityID=${machineId}`
          const text_entity = 'here'
          this.machine_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_machine = false
            this.incomplete_machine = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A MC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_machine = false
            this.incomplete_machine = true
            this.$notify.warning({
              title: 'MC warning',
              message: 'A MC entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_machine = false
          this.incomplete_machine = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the MC entity.',
            duration: 3000
          })
        })
    },
    get_captureEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const capture_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 3 })
        this.ecId = capture_entity[0].entityId
        this.get_captureStatus(this.ecId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_capture = true
        this.$notify.warning({
          title: 'EC Warning',
          message: 'No EC entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_captureStatus(captureId) {
      const path = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/${captureId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/#/ec-entity?entityID=${captureId}`
          const text_entity = 'here'
          this.capture_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_capture = false
            this.incomplete_capture = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An EC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_capture = false
            this.incomplete_capture = true
            this.$notify.warning({
              title: 'EC warning',
              message: 'An EC entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_capture = false
          this.incomplete_capture = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the EC entity.',
            duration: 3000
          })
        })
    },
    get_transformationEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const transformation_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 4 })
        this.etId = transformation_entity[0].entityId
        this.get_transformationStatus(this.etId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_transformation = true
        this.$notify.warning({
          title: 'ET warning',
          message: 'No ET entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_transformationStatus(transformationId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${transformationId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/#/energy_transf/${transformationId}/other-modules`
          const text_entity = 'here'
          this.transformation_url = text_entity.link(url_entity)
          if (entity_data.study_result.status === 100) {
            this.standalone_transformation = false
            this.incomplete_transformation = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An ET entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_transformation = false
            this.incomplete_transformation = true
            this.$notify.warning({
              title: 'ET warning',
              message: 'An ET entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_transformation = false
          this.incomplete_transformation = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the ET entity.',
            duration: 3000
          })
        })
    },
    get_deliveryEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const delivery_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 5 })
        this.edId = delivery_entity[0].entityId
        this.get_deliveryStatus(this.edId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_delivery = true
        this.$notify.warning({
          title: 'ED warning',
          message: 'No ED entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_deliveryStatus(deliveryId) {
      const path = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/api/energy-deliv-studies/${deliveryId}`
      axios.get(path)
        .then((res) => {
          // debugger
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/#/energy-deliv-studies/${deliveryId}`
          const text_entity = 'here'
          this.delivery_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_delivery = false
            this.incomplete_delivery = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An ED entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_delivery = false
            this.incomplete_delivery = true
            this.$notify.warning({
              title: 'ED warning',
              message: 'An ED entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_delivery = false
          this.incomplete_delivery = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the Ed entity.',
            duration: 3000
          })
        })
    },
    get_stationEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const station_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 6 })
        this.skId = station_entity[0].entityId
        this.get_stationStatus(this.skId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_station = true
        this.$notify.warning({
          title: 'SK warning',
          message: 'No SK entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_stationStatus(stationId) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${stationId}/status`
      axios.get(path)
        .then((res) => {
          const status = res.data
          // const url_entity = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/#/study/${stationId}/home`
          // const text_entity = 'here'
          // this.station_url = text_entity.link(url_entity)
          if (status === 100) {
            this.standalone_station = false
            this.incomplete_station = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A SK entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_station = false
            this.incomplete_station = true
            this.$notify.warning({
              title: 'SK warning',
              message: 'A SK entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_station = false
          this.incomplete_station = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the SK entity.',
            duration: 3000
          })
        })
    },
    get_logisticsEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const logistics_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 7 })
        this.lmoId = logistics_entity[0].entityId
        this.get_logisticsStatus(this.lmoId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_logistics = true
        this.$notify.warning({
          title: 'LMO warning',
          message: 'No LMO entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_logisticsStatus(logisticsId) {
      const path = `${DTOP_PROTOCOL}//lmo.${DTOP_DOMAIN}/api/study/${logisticsId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          // const url_entity = `${DTOP_PROTOCOL}//lmo.${DTOP_DOMAIN}/#/study/${logisticsId}/home`
          // const text_entity = 'here'
          // this.logistics_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_logistics = false
            this.incomplete_logistics = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A LMO entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_logistics = false
            this.incomplete_logistics = true
            this.$notify.warning({
              title: 'LMO warning',
              message: 'A LMO entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_logistics = false
          this.incomplete_logistics = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the LMO entity.',
            duration: 3000
          })
        })
    },
    get_speyEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 10 })
        const spey_entity = prj_str.filter((e) => { return e.studyId === study[0].studyId && e.moduleId === 8 })
        this.speyId = spey_entity[0].entityId
        this.get_speyStatus(this.speyId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_spey = true
        this.$notify.warning({
          title: 'SPEY warning',
          message: 'No SPEY entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_speyStatus(speyId) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          // const url_entity = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/#/study/${speyId}/home`
          // const text_entity = 'here'
          // this.spey_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_spey = false
            this.incomplete_spey = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A SPEY entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_spey = false
            this.incomplete_spey = true
            this.$notify.warning({
              title: 'SPEY warning',
              message: 'A SPEY entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_spey = false
          this.incomplete_spey = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the SPEY entity.',
            duration: 3000
          })
        })
    },
    fetchBOMTransformation() {
      this.loadingBomET = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/bom`
      const payload = {
        'module': 'et',
        'url': `/energy_transf/${this.etId}/array`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          console.log(res)
          if (res.status === 201) {
            this.addExternalInput('bom_et', res.data)
          }
          this.loadingBomET = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Transformation module')
          this.loadingBomET = false
        })
    },
    fetchBOMDelivery() {
      this.loadingBomED = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/bom`
      const payload = {
        'module': 'ed',
        'url': `/api/energy-deliv-studies/${this.edId}/results`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('bom_ed', res.data)
          }
          this.loadingBomED = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Delivery module')
          this.loadingBomED = false
        })
    },
    fetchBOMStation() {
      this.loadingBomSK = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/bom`
      const payload = {
        'module': 'sk',
        'url': `/sk/${this.skId}/bom`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('bom_sk', res.data)
          }
          this.loadingBomSK = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Station Keeping module')
          this.loadingBomSK = false
        })
    },
    fetchBOMLogistics() {
      this.loadingBomLMO = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/bom`
      const payload = {
        'module': 'lmo',
        'url': `/api/${this.lmoId}/bom`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('bom_lmo', res.data)
          }
          this.loadingBomLMO = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Logistics and Marine Operations module')
          this.loadingBomLMO = false
        })
    },
    fetchMCGeneral() {
      this.loadingMC = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/mc`
      const payload = {
        'url': `/mc/${this.mcId}/general`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('mc_general', res.data)
          }
          this.loadingMC = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Machine Characterization module')
          this.loadingMC = false
        })
    },
    fetchECDevices() {
      this.loadingEC = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/ec`
      const payload = {
        'url': `/ec/${this.ecId}/farm`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('ec_devices', res.data)
          }
          this.loadingEC = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Capture module')
          this.loadingEC = false
        })
    },
    fetchETPower() {
      this.loadingET = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/et`
      const payload = {
        'url': `/energy_transf/${this.etId}/devices`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('et_power', res.data)
          }
          this.loadingET = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Transformation module')
          this.loadingET = false
        })
    },
    fetchMaintSolu() {
      this.loadingMaintSolu = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/lmo`
      const payload = {
        'url': `/api/${this.lmoId}/phases/maintenance/plan`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('main_solution', res.data)
          }
          this.loadingMaintSolu = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Logistics and Marine Operations module')
          this.loadingMaintSolu = false
        })
    },
    fetchAEP() {
      this.loadingSPEY = true
      const path = `${process.env.VUE_APP_API_URL}/api/projects/${this.analysis.id}/integration/spey`
      const payload = {
        'url': `/spey/${this.speyId}/energy-production`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.addExternalInput('aep', res.data)
          }
          this.loadingSPEY = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from System Performance and Energy Yield module')
          this.loadingSPEY = false
        })
    }
  }
}
</script>

<style>
</style>
