<!--
System Lifetime Costs (SLC) tool.
SLC is a DTOceanPlus tool to assess the overall costs of wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="uploadjsonfile">
    <el-upload
      ref="upload-json"
      class="upload-demo"
      action="https://jsonplaceholder.typicode.com/posts/"
      accept=".json"
      :http-request="uploaderJSONFile"
      :before-upload="beforeUpload"
      :show-file-list="false"
      data-cy="uploadBox"
    >
      <el-button
        v-if="showUpload"
        size="small"
        type="primary"
        :loading="loading"
      >Upload {{moduleName}} file</el-button>
    </el-upload>
  </div>
</template>

<script>

export default {
  name: 'UploadJSONFile',
  props: {
    moduleName: {
      type: String,
      default() {
        return ''
      }
    }
  },
  data() {
    return {
      showUpload: true,
      uploadJson: '',
      loading: false
    }
  },
  methods: {
    async uploaderJSONFile(file) {
      this.loading = true
      this.uploadJson = await this.onloadJson(file)
      this.$emit('file-updated', this.uploadJson)
      this.loading = false
    },
    onloadJson(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsText(file.file)
        reader.onload = (e) => {
          resolve(JSON.parse(e.target.result))
        }
      })
    },
    beforeUpload(file) {
      const isSJON = file.type === 'application/json'
      if (!isSJON) {
        this.$message.error('It must be a JSON file!')
      }
      return isSJON
    }
  }
}
</script>

<style>
</style>
