<!DOCTYPE html>
<html>
  <h2>Select project complexity</h2>
  Complexity:
  <pre> <a href="{{ url_for('gui_inputs.inputs_cpx1') }}">CPX 1</a> </pre>
  <pre> <a href="{{ url_for('gui_inputs.inputs_cpx2') }}">CPX 2</a> </pre>
  <pre> <a href="{{ url_for('gui_inputs.inputs_cpx3') }}">CPX 3</a> </pre>
</html>
