<!DOCTYPE html>
<html>
  <h2>Inputs for the Sistem Lifetime Costs Module</h2>
  <h3>Complexity 2</h3>
  <form method="POST" action="{{ url_for('api_inputs.create') }}">
    <input type="hidden" name="complexity" value="med">
    <table style="height: 100px; width: 800px">
      <tbody>
        <div class="form-group" >
          <tr>
            <td style="width: 200px;">
              Project lifetime:
            </td>
            <td style="width: 100px;">
              <input type="number" name="proj_lifetime" size="8/" style="width: 80px;"> years
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Discount rate:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="disc_rate" size="8/" style="width: 80px;"> %
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Device topology:
            </td>
            <td style="width: 200px;">
              <select name="topology">
                <option value="wec_fix">WEC fixed</option>
                <option value="wec_float">WEC floating</option>
                <option value="tec_fix">TEC fixed</option>
                <option value="tec_float">TEC floating</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Device power:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="device_power" size="8/" style="width: 80px;"> kW
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Device Structural cost:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="struct_cost" size="8/" style="width: 80px;"> €
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Number of devices:
            </td>
            <td style="width: 100px;">
              <input type="number" name="device_num" size="8/" style="width: 80px;">
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Other costs:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="other_costs" size="8/" style="width: 80px;"> €
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Energy market price:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.001" name="ener_price" size="8/" style="width: 80px;"> €/kWh
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Financial strategy:
            </td>
            <td style="width: 100px;">
              <input type="checkbox" name="fin_grant">
              <label>Grant</label>
              <br>
              <input type="checkbox" name="fin_fit">
              <label>FIT</label>
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Grant value:
            </td>
            <td style="width: 100px;">
              <input type="number" name="grant_value" size="8/" style="width: 80px;"> €
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Feed-in Tariff price:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="fit_value" size="8/" style="width: 80px;"> €/kWh
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Years of Feed-in Tariff:
            </td>
            <td style="width: 100px;">
              <input type="number" name="fit_years" size="8/" style="width: 80px;"> years
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Compute ACE:
            </td>
            <td style="width: 100px;">
              <input type="checkbox" name="compute_ace">
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Average Climate Capture Width:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="accw" size="8/" style="width: 80px;"> m
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Total surface area:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="total_surf" size="8/" style="width: 80px;"> m^2
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Structure thickness:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="thick" size="8/" style="width: 80px;"> m
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Density:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="dens" size="8/" style="width: 80px;"> kg/m^3
            </td>
          </tr>
          <tr>
            <td style="width: 200px;">
              Cost of manufacture:
            </td>
            <td style="width: 100px;">
              <input type="number" step="0.01" name="manuf" size="8/" style="width: 80px;"> €/kg
            </td>
          </tr>
        </div>
      </tbody>
    </table>
    <br>
    <button class="btn btn-default" type="submit">
      Submit
    </button>
  </form>
</html>
