<!DOCTYPE html>
<html>
  <h1>DTOceanPlus - System Lifetime Costs</h1>
  {{ _('Complexity: <b>%(complexity)s</b>', complexity=cpx) }}
  <h2>Economical Metrics</h2>
  <table style="height: 100px; width: 400px">
    {% for key, value in economical.items() %}
      <tr>
        <td style="width: 150px;">
          {{ economical_labels[key] }}
        </td>
        <td style="width: 100px; padding-right:20px" align="right">
          {{ value }}
        </td>
        <td style="width: 150px;">
          {{ economical_units[key] }}
        </td>
      </tr>
   {% endfor %}
  </table>
  <h2>Financial Metrics</h2>
  <table style="height: 100px; width: 400px">
    {% for key, value in financial.items() %}
      <tr>
        <td style="width: 150px;">
          {{ financial_labels[key] }}
        </td>
        <td style="width: 100px; padding-right:20px" align="right">
          {{ value }}
        </td>
        <td style="width: 150px;">
          {{ financial_units[key] }}
        </td>
      </tr>
   {% endfor %}
  </table>
  <h2>Benchmark Metrics</h2>
  <table style="height: 100px; width: 400px">
    {% for key, value in benchmark.items() %}
      <tr>
        <td style="width: 150px;">
          {{ benchmark_labels[key] }}
        </td>
        <td style="width: 100px; padding-right:20px" align="right">
          {{ value }}
        </td>
        <td style="width: 150px;">
          {{ benchmark_units[key] }}
        </td>
      </tr>
   {% endfor %}
  </table>
</html>
